html {
    background-color:cadetblue;
}

body {
    width: 700px;
    margin: 0 auto;
}

.NavBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    float: right;
}

h1 {
    font-size: 60px;
    text-align: center;
}